<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.megabox.common.repository.ICommonDAO">
	<select id="showAllMovie" resultType="com.my.megabox.common.dto.MovieDTO">
		SELECT M_NUM, M_NAME, M_POSTER FROM MOVIE ORDER BY M_NUM
	</select>
	
	<select id="showCinemaByState" parameterType="String" resultType="String" >
		SELECT C_NAME 
		FROM CINEMA 
		WHERE C_STATE LIKE '%'||#{sName}||'%' 
		ORDER BY C_NUM
	</select>
</mapper>